<div class="container">
  <div class="row">
    <!-- <div class="col-md-12">
      <h1 class="main-heading"></h1>
    </div> -->
  </div>
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-8 article-area">
      <div class="article" *ngFor="let article of articles" [ngClass]="routeAnimationsElements">
        <a class="article-title" [routerLink]="['/articles', article.id]" routerLinkActive="active">
          {{ article.title }}
        </a>
        <p class="article-content">
          {{ article.content }}
        </p>
        <div>
          <a href="" class="article-tag" *ngFor="let tag of article.tags" class="article-tag"
            (click)="onClickTag($event, tag)"> #{{ tag }}
          </a>
        </div>

        <p class="article-date"> {{ article.date | date:'yyyy.MM.dd' }} </p>
      </div>
      <div class="row justify-content-center">
        <div class="col-4">
          <a *ngIf="currentIndex === 0" mat-icon-button target="_blank" disabled>
            <mat-icon fontSet="fas" fontIcon="fa-angle-left" (click)="onClickPreviousArrow()"></mat-icon>
          </a>
          <a *ngIf="currentIndex !== 0" mat-icon-button target="_blank">
            <mat-icon fontSet="fas" fontIcon="fa-angle-left" (click)="onClickPreviousArrow()"></mat-icon>
          </a>

          <span *ngFor="let inx of pageIndexes">
            <a *ngIf="inx === pages" color='accent' mat-icon-button disabled>{{ inx }}</a>
            <a *ngIf="inx !== pages" mat-icon-button (click)="onClickReloadPage(inx)">{{ inx }}</a>
          </span>

          <a *ngIf="((currentIndex+1)*5+1) > totalPages" mat-icon-button target="_blank" disabled>
            <mat-icon fontSet="fas" fontIcon="fa-angle-right" (click)="onClickNextArrow();"></mat-icon>
          </a>
          <a *ngIf="((currentIndex+1)*5+1) <= totalPages" mat-icon-button target="_blank">
            <mat-icon fontSet="fas" fontIcon="fa-angle-right" (click)="onClickNextArrow();"></mat-icon>
          </a>
        </div>
      </div>
    </div>

    <div class="col-sm-0 col-md-4 col-lg-4">
      <anms-article-sidebar [isShare]="false"></anms-article-sidebar>
    </div>
  </div>
</div>
