<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-8 article-area">
      <h1> {{ article.title }} </h1>
      <span class="article-date"> {{ article.date | date:'yyyy.MM.dd' }} </span>
      <div>
        <a href="" class="article-tag" *ngFor="let tag of article.tags" class="article-tag"
          (click)="onClickTag($event, tag)"> #{{ tag }}
        </a>
      </div>
      <div class="article-content">
        <markdown *ngIf='article.content' [data]="article.content"></markdown>
      </div>
    </div>
    <div class="col-md-4 col-lg-4">
      <anms-article-sidebar [isShare]="true"></anms-article-sidebar>
    </div>
  </div>
</div>
