<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1 class="main-heading">블로그</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-8" [ngClass]="routeAnimationsElements">
      <div class="article-area" *ngFor="let article of articles">
        <h1>
          <a [routerLink]="['/articles', article.id]" routerLinkActive="active">{{ article.title }}</a>
        </h1>
        <p>
          {{ article.content }}
        </p>
        <div>
          <p class="article-date"> {{ article.date | date:'yyyy.M.dd HH:mm:ss' }} </p>
        </div>
      </div>
    </div>
    <div class="col-sm-0 col-md-4 col-lg-4">
      <anms-article-sidebar [isShare]="false"></anms-article-sidebar>
    </div>
  </div>
</div>
