<div class="this">
  <div class="trow menubar">
    <a class="button" mat-raised-button color="primary" (click)="onImageUpload()">
      이미지 업로드
    </a>
  </div>
  <div class="trow">
    <input class="ip-title" [(ngModel)]="title" placeholder="제목" />
  </div>
  <div class="row editor">
    <div class="col-md-6">
      <ace [config]="config" [mode]="'text'" [theme]="'github'" [(value)]="content"></ace>
    </div>
    <div class="preview col-md-6">
      <markdown lineNumbers [data]="content" #markdown></markdown>
    </div>
  </div>
  <div class="trow">
    <input class="ip-tags" [(ngModel)]=" tags" placeholder="tags" />
  </div>
  <div class=trow>
    <a class="button" mat-raised-button color="accent" (click)="onSaveClick()">
      저장하기
    </a>
    <a class="button" mat-raised-button color="primary" (click)="onCancelClick()">
      돌아가기
    </a>
  </div>
</div>
