@import '../../../styles-variables';

.container {
  margin-top: 20px;
}

ul {
  list-style: circle;
}

.article-area {
  padding: 20px 30px;
  border: solid 1px #A0A2A9;
  border-radius: 5px;
}

.article-tag-div {
  border-bottom: dotted 1px #A0A2A9;
  padding-top: 50px;
  padding-bottom: 20px;
}

.article-tag {
  color: #088FC1;
}

.article-tag:hover {
  color: #4AABE3;
}

.article-date {
  color: #A0A2A9;
  padding-right: 20px;
}

.article-content {
  padding-top: 30px;
}

.sidebar {
  position: fixed;
}

.sidebar p a {
  padding-left: 16px;
}
