@import '../../../styles-variables';

.container {
  margin-top: 20px;
}

.article-area {
  padding: 30px;
  border: solid 1px #c9c9c9;
  border-radius: 5px;
}

.article {
  padding-bottom: 30px;
}

.article-date {
  color: #c9c9c9;
  padding-right: 20px;
}
