<mat-sidenav-container>
  <mat-sidenav #sidenav mode="push">
    <div class="branding"><img [src]="logo" /> <span>Better than scala</span></div>
    <mat-nav-list>
      <a mat-list-item *ngFor="let item of navigationSideMenu" (click)="sidenav.close()" [routerLink]="[item.link]"
        routerLinkActive="active">
        {{ item.label }}
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <div class="toolbar">
    <mat-toolbar color="primary">
      <button mat-icon-button class="d-md-none" (click)="sidenav.open()">
        <mat-icon fontSet="fas" fontIcon="fa-bars"></mat-icon>
      </button>
      <span routerLink="" class="branding spacer center d-inline d-sm-none">
        <img [src]="logo" /></span>
      <span routerLink="" class="branding spacer center d-none d-sm-inline d-md-none"><img [src]="logo" /> Better than
        scala</span>
      <span routerLink="" class="branding spacer d-none d-md-inline"><img [src]="logo" /> Better than scala</span>

      <span class="d-none d-md-inline">
        <button mat-button class="nav-button" *ngFor="let item of navigation" [routerLink]="[item.link]"
          routerLinkActive="active">
          {{item.label}}
        </button>
      </span>
    </mat-toolbar>
  </div>

  <div class="wrapper">

    <div class="content" [@routeAnimations]="o.isActivated && getState(o)">
      <router-outlet #o="outlet"></router-outlet>
    </div>

    <div class="footer" *ngIf="isHome">
      <div class="row">
        <div class="col-sm-12 links">
          <a href="https://www.github.com/betterthanscala" target="_blank">
            <mat-icon fontSet="fab" fontIcon="fa-github"></mat-icon>
            <span>Github</span>
          </a>
          <a href="https://www.facebook.com/groups/playuser/" target="_blank">
            <mat-icon fontSet="fab" fontIcon="fa-facebook"></mat-icon>
            <span>Facebook</span>
          </a>
          <a href="https://betterthanscala.slack.com/messages/C03H792C6/" target="_blank">
            <mat-icon fontSet="fab" fontIcon="fa-slack"></mat-icon>
            <span>Slack</span>
          </a>
          <a href="https://www.twitter.com/betterthanscala" target="_blank">
            <mat-icon fontSet="fab" fontIcon="fa-twitter"></mat-icon>
            <span>Twitter</span>
          </a>
          <a href="https://www.youtube.com/channel/UCn2D2fq5mCxXA0LnQyvHH3A" target="_blank">
            <mat-icon fontSet="fab" fontIcon="fa-youtube"></mat-icon>
            <span>Youtube</span>
          </a>
        </div>
      </div>
      <div class="row">
        <div class="col-12 signature">
          &#169; Copyright <span class="year">{{year}}</span> Better than scala. All Rights Reserved.
          <!-- <br class="d-block d-sm-none">
          <a matTooltip="Show changelog"
             matTooltipPosition="before"
             href="https://github.com/tomastrajan/angular-ngrx-material-starter/blob/master/CHANGELOG.md">
            <mat-icon fontSet="fas" fontIcon="fa-rocket"></mat-icon>
            {{version}} <span *ngIf="!isProd">[{{envName}}]</span>
          </a> -->
        </div>
      </div>
    </div>

  </div>

</mat-sidenav-container>
