<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1 class="main-heading">강좌</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 col-lg-4" *ngFor="let lecture of lectures" [ngClass]="routeAnimationsElements">
      <mat-card>
        <mat-card-title><code *ngIf="lecture.version">{{ lecture.version }}</code>{{ lecture.name }}</mat-card-title>
        <mat-card-subtitle>
          {{ lecture.content }}
        </mat-card-subtitle>
        <mat-card-actions>
          <a mat-icon-button href="{{ lecture.github }}" target="_blank">
            <mat-icon fontSet="fab" fontIcon="fa-github"></mat-icon>
          </a>
          <a mat-button href="{{ lecture.docs }}" target="_blank">
            <mat-icon fontSet="fas" fontIcon="fa-book"></mat-icon>
            Docs
          </a>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
