<div class="background">
  <div class="gradient">
    <!-- <div class="container"> -->
    <div class="main">
      <h1>Better than scala</h1>
      <div class="actions">
        <div [ngClass]="routeAnimationsElements">
          <p class="content">Better than scala에 오신 것을 환영합니다. 이 사이트는 프로그래밍에 대한 깊이 있는 지식을 전하기 위해 만들어졌습니다.</p>
        </div>
      </div>
    </div>
    <mat-divider></mat-divider>
    <div class="actions">
      <div class="container">
        <div [ngClass]="routeAnimationsElements">
          <mat-grid-list cols="3" rowHeight="3:1" class="grid">
            <mat-grid-tile class="grid-tiles-title">
              Learn
            </mat-grid-tile>
            <mat-grid-tile class="grid-tiles-title">
              Share
            </mat-grid-tile>
            <mat-grid-tile class="grid-tiles-title">
              Together
            </mat-grid-tile>
          </mat-grid-list>
          <mat-grid-list cols="3" rowHeight="3:1" class="grid">
            <mat-grid-tile class="grid-tiles-content">
              <mat-card class="mat-card">차근차근 학습할 수 있는 동영상부터 문서 까지 학습이 쉬워집니다.</mat-card>
            </mat-grid-tile>
            <mat-grid-tile class="grid-tiles-content">
              <mat-card class="mat-card">지식을 공유하고 나누는 것. 그것이 바로 학습을 준비하는 기본 자세입니다.</mat-card>
            </mat-grid-tile>
            <mat-grid-tile class="grid-tiles-content">
              <mat-card class="mat-card">혼자 할 때보다 함께 할 때 더욱 즐겁고 오래 지속할 수 있습니다. 함께하세요.</mat-card>
            </mat-grid-tile>
          </mat-grid-list>
        </div>
      </div>
    </div>
    <mat-divider></mat-divider>
    <div class="actions">
      <div [ngClass]="routeAnimationsElements">
        <div class="container">
          <h3>
            다루고 있는 기술들
          </h3>
          <ul>
            <li class="li-horizontal"> </li>
          </ul>
        </div>
      </div>
    </div>
    <mat-divider></mat-divider>
    <div class="actions">
      <div [ngClass]="routeAnimationsElements">
        <div class="container">
          <h3>Backer</h3>
          <ul>
            <li class="li-horizontal" *ngFor="let backer of backers">
              <a href="{{backer.link}}" target="_black">
                <img class="profile" alt="{{ backer.name }}" src="{{backer.img}}">
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <mat-divider></mat-divider>
    <div class="actions">
      <div [ngClass]="routeAnimationsElements">
        <div class="container">
          <h3>만든 사람들</h3>
          <img class="profile" src="https://s3-ap-northeast-2.amazonaws.com/opentutorials-user-file/course/1/5649.png">
        </div>
      </div>
    </div>
  </div>
  <!-- 
      <div class="actions">
        <a [ngClass]="routeAnimationsElements"
           mat-raised-button class="actions-main" color="primary" routerLink="../lectures">
          Lectures
        </a>
        <a mat-raised-button class="actions-main" color="accent" routerLink="../examples"
           [ngClass]="routeAnimationsElements">
          Examples
        </a>
        <a mat-raised-button class="actions-main" color="warn" routerLink="../settings"
           [ngClass]="routeAnimationsElements">
          Change Theme
        </a>
        <br>
        <span [ngClass]="routeAnimationsElements">or check blogs about</span>
        <br>
        <a mat-raised-button
           [ngClass]="routeAnimationsElements"
           target="_blank"
           href="https://medium.com/@tomastrajan/the-complete-guide-to-angular-material-themes-4d165a9d24d1">
          <mat-icon fontSet="fab" fontIcon="fa-medium-m"></mat-icon>
          Material Theming
        </a>
        <a mat-raised-button
           [ngClass]="routeAnimationsElements"
           target="_blank"
           href="https://medium.com/@tomastrajan/6-best-practices-pro-tips-for-angular-cli-better-developer-experience-7b328bc9db81">
          <mat-icon fontSet="fab" fontIcon="fa-medium-m"></mat-icon>
          Angular Cli Tips
        </a>
        <a mat-raised-button
           [ngClass]="routeAnimationsElements"
           target="_blank"
           href="https://medium.com/@tomastrajan/object-assign-vs-object-spread-in-angular-ngrx-reducers-3d62ecb4a4b0">
          <mat-icon fontSet="fab" fontIcon="fa-medium-m"></mat-icon>
          Ngrx Typescript Tips
        </a>
        <a mat-raised-button
           [ngClass]="routeAnimationsElements"
           target="_blank"
           href="https://medium.com/@tomastrajan/how-to-style-angular-application-loading-with-angular-cli-like-a-boss-cdd4f5358554">
          <mat-icon fontSet="fab" fontIcon="fa-medium-m"></mat-icon>
          App Loading Style
        </a>
      </div>
      <div class="get-started" [ngClass]="routeAnimationsElements">
      </div>
      <div class="get-started" [ngClass]="routeAnimationsElements">
      </div>
      <div class="get-started" [ngClass]="routeAnimationsElements">
        <h2>Getting started</h2>
        <code>git clone
          https://github.com/tomastrajan/angular-ngrx-material-starter.git
          new-project</code><br>
        <code>cd new-project</code><br>
        <code>npm install</code><br>
        <code>npm start</code>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="follow-releases" [ngClass]="routeAnimationsElements">
    <h2>Get notified about new releases</h2>
    <p>
      Follow <a href="https://www.twitter.com/releasebutler" target="_blank">Release
      Butler</a>
      a Twitter bot that helps you to stay up to date with releases of popular frontend
      frameworks & libraries!
    </p>

    <img [src]="releaseButler" alt="Release Butler tweet example">
  </div>
</div> -->
